<!--<p>pacient works!</p>-->

<div class="container">

  <h1 class="title">
    Detalii pacient
  </h1>

  <mat-card class="card">

    <p class="details">
      Nume: {{pacient.numePacient}}
    </p>
    <p class="details">
      CNP: {{pacient.cnp}}
    </p>
    <p class="details">
      Numar de telefon: {{pacient.numarDeTelefon}}
    </p>
    <p class="details">
      Numele bolii: {{pacient.boala.numeBoala}}
    </p>
    <p class="details">
      Gravitatea bolii: {{pacient.boala.gravitate}}
    </p>

  </mat-card>
</div>
